<div class="left">
	<br />
	<br />
	<br />
	<br />
	<h3><span></span>Bienvenidos a EcoGranja.</h3>
	<br />
	<p>Bienvenidos a <b></>EcoGranja</b>, ambiente para el aprendizaje y toma de decisiones en fenómenos agropecuarios, esta herramienta se ha desarrollado con el objetivo de brindar un soporte basado en conocimiento en los procesos de planeación de cultivos y crianza pecuaria, contribuyendo en el fortalecimiento del sector económico más tradicional de nuestro país Colombia, el sector agropecuario.</p>
</div>
<div class="right">
	<img src="/assets/welcome.jpg" class="center" alt="Imagen de bienvenida"/>
</div>

<div class="left">
	<img src="/assets/crop-learning.jpg" class="center" alt="Imagen de bienvenida"/>
</div>
<div class="right">
	<br />
	<br />
	<br />
	<br />
	<h3><span></span>Aprendizaje.</h3>
	<br />
	<p>Una de las principales funcionalidades de EcoGranja es permitirle a sus usuarios, principalmente productores agropecuarios, acceder a contenido agropecuario donde puede encontrar diversos tipos, características y técnicas de cultivos, con las cuales puede enriquecer su conocimiento.</p>
	<br /> 
	<p>Esta funcionalidad puede ser encontrada en el menú Aprendizaje, donde está disponible la herramienta Agropedia, la cual permite acceder a fichas técnicas de múltiples cultivos</p>
</div>

<div class="left">			
	<br />
	<br />
	<h3><span></span>Gestión de Granjas.</h3>
	<br />
	<p>La sección Gestión de Granjas brinda el soporte para gestionar las instancias de las granjas en estudio, permitiendo la generación de nuevos registros de granjas y su correspondiente administración. Los usuarios podrán registrar las granjas que deseen, a través de un formulario y de una interfaz gráfica que geo-referencia la ubicación de las granjas en estudio. </p>
	<br />
	<p>Los registros de las granjas agropecuarias soportaran los procesos de toma de decisiones, por lo cual se recomienda que los datos registrados sean los más coherentes con la realidad de la granja en estudio. </p>

</div>
<div class="right">
	<br />
	<br />
	<br />
	<br />
	<img src="/assets/crop-planning.jpg" class="center" alt="Imagen de bienvenida"/>
</div>

<div class="left">
	<img src="/assets/harvest.jpg" class="center" alt="Imagen de bienvenida"/>
	
</div>
<div class="right">
	<br />
	<br />
	
	<h3><span></span>Toma de decisiones.</h3>
	<br />
	<p>La funcionalidades correspondientes a la toma de decisiones en fenómenos agropecuarios, constituyen el aporte más representativo de EcoGranja para los productores agropecuarios, debido a que permite simular el desarrollo de diversos cultivos agrícolas en la granja instanciada, lo cual soporta el aprendizaje de los fenómenos complejos a través de representaciones de facíl interpretación de la producción agropecuaria.</p>
	<br />
	<p>El esta sección de EcoGranja proporciona un simulador software que permite interactuar con modelos matemáticos que representan el comportamiento de los cultivos, lo cual contribuye en apoyar la toma de decisiones basadas en conocimiento.</p>
</div>

<div class="cleaner"></div>