<h3><span></span>Sección de aprendizaje</h3>
<br />
<p>En esta sección se presentan los principales conceptos relacionados con la producción agropecuaria, los cuales se esquematizan por medio de artículos que se clasifican en las siguientes categorías y subcategorías:</p>
<br />

<blockquote style="margin: 0 0 0 100px; border: none; padding: 0px;"><table class="MsoTableLightListAccent3" border="1" cellspacing="0" cellpadding="0" style="text-align: left;border-collapse: collapse; border: none; ">
<table class="MsoTableLightListAccent3" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;mso-border-alt:solid #9BBB59 1.0pt;
 mso-border-themecolor:accent3;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt">
 <tbody><tr>
  <td width="170" valign="top" style="width:127.6pt;border-top:solid #9BBB59 1.0pt;
  mso-border-top-themecolor:accent3;border-left:solid #9BBB59 1.0pt;mso-border-left-themecolor:
  accent3;border-bottom:none;border-right:none;background:#9BBB59;mso-background-themecolor:
  accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><span style="color:
  white;mso-themecolor:background1;mso-bidi-font-weight:bold">Nombre<o:p></o:p></span></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border-top:solid #9BBB59 1.0pt;
  mso-border-top-themecolor:accent3;border-left:none;border-bottom:none;
  border-right:solid #9BBB59 1.0pt;mso-border-right-themecolor:accent3;
  background:#9BBB59;mso-background-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><span style="color:
  white;mso-themecolor:background1;mso-bidi-font-weight:bold">Descripción<o:p></o:p></span></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Infraestructura</b><o:p></o:p></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Base material inmueble que soporta la producción agropecuaria.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Insumos</b><o:p></o:p></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Los recursos que permiten el desarrollo de la producción agropecuaria.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Procesos agropecuarios</b><o:p></o:p></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Un conjunto de actividades que tienen un fin
  determinado.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Practicas
  agropecuarias</b><o:p></o:p></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Los métodos de producción que se han asumido como correctos por las
  comunidades.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos agrícolas<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Conjunto de plantas que crecen y producen su cosecha
  en un área determinada, que requieren un entorno medioambiental e insumos.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos - Cereales<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas cuya cosecha son granos o
  semillas fruto de las plantas gramíneas.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos -
  Legumbres<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas de frutos secos
  de las plantas de la familia leguminosas.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos -Verduras<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas donde la cosecha corresponde a
  alguna parte comestible de las plantas que contemplan hojas de coloración
  verde.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos – Tubérculos<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas donde la
  cosecha corresponde a la raíz o a un tallo modificado de diversos vegetales,
  donde se acumulan nutrientes de reserva para la planta.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos - Forrajes<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas donde los árboles y arbustos
  proporcionan frutos, hojas u otras partes comestibles, destinadas a la complementaria
  de las crianzas pecuarias.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos - Pastos<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas destinadas a la
  alimentación base del ganado, principalmente se compone de diversas especies
  de hierbas.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos - especias<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas caracterizadas por sus olores y
  sabores, lo que les permite ser utilizadas en la culinaria como condimento.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos - aromáticas<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas que se
  caracterizan principalmente por su olor se componen de las hojas y se
  utilizan en la realización de condimentos y de colonias.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos - medicinales<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas que contienen sustancias
  efectivas en el tratamiento de dolencias y enfermedades, tanto para el ser
  humano como para el ganado.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Cultivos - no
  alimenticios<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende las producciones agrícolas que satisfacen
  recursos naturales que apoyan materias primas para su manufactura o
  procesamiento.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Crianzas pecuarias<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende la crianza de animales para la producción de alimentos, y
  materias primas.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Crianzas -
  Avicultura<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende la crianza de aves para la producción de
  carne y huevos, involucra diferentes factores como el medio ambiente, la
  infraestructura, entre otros.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Crianzas – ganado bobino<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende la crianza de vacas, toros y bueyes, para la obtención de
  carne, pieles, huesos y diversos subproductos de este proceso.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Crianzas – ganado porcino<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende la crianza de diversas especies de cerdos,
  cuyos productos son la carne, la grasa, el cuero y las cerdas, además
  contribuye con el consumo de desechos orgánicos.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:none;border-left:solid #9BBB59 1.0pt;
  mso-border-left-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Crianzas – ganado caprino<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:none;border-right:solid #9BBB59 1.0pt;
  mso-border-right-themecolor:accent3;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende la crianza de cabras, ovejas, camuros y similares, con la
  finalidad de producir alimentos cárnicos, leche y pelaje.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Crianzas – cunicultura<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border:solid #9BBB59 1.0pt;
  mso-border-themecolor:accent3;border-left:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende la crianza de conejos para la producción
  de carne y pieles.<o:p></o:p></p>
  </td>
 </tr>
 <tr>
  <td width="170" valign="top" style="width:127.6pt;border-top:none;border-left:
  solid #9BBB59 1.0pt;mso-border-left-themecolor:accent3;border-bottom:solid #9BBB59 1.0pt;
  mso-border-bottom-themecolor:accent3;border-right:none;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="margin-bottom: 0.0001pt; text-align: center; "><b>Crianzas – piscicultura<o:p></o:p></b></p>
  </td>
  <td width="483" valign="top" style="width:362.25pt;border-top:none;border-left:
  none;border-bottom:solid #9BBB59 1.0pt;mso-border-bottom-themecolor:accent3;
  border-right:solid #9BBB59 1.0pt;mso-border-right-themecolor:accent3;
  padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; ">Comprende la crianza de peces para la producción de carne.<o:p></o:p></p>
  </td>
 </tr>
</tbody>
</table>
</blockquote>